extends template.pug

block content
	div.row
		div.col-sm#DataTableContainer
		
block scripts
	script(type='text/babel', src='../react/gateway.js')
	script(type='text/javascript', src='../scripts/gateway.js')
