doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(name='description', content='')
		meta(name='author', content='')
		title Microservices Status
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css', integrity='sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb', crossorigin='anonymous')
		link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.9/css/all.css', integrity='sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1', crossorigin='anonymous')
		link(rel='stylesheet', href='../css/styles.css')
	body
		nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
			a.navbar-brand(href='/')
				| API Gateway
			button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
				span.navbar-toggler-icon
			#navbarsExampleDefault.collapse.navbar-collapse
				ul.navbar-nav.mr-auto
					li.nav-item

				ul.navbar-nav.my-2.my-lg-0
					li.nav-item
						a.nav-link(href='http://127.0.0.1:8081') Product Management
					li.nav-item
						a.nav-link(href='http://127.0.0.1:8082') Sale Management
					li.nav-item
						a.nav-link(href='http://127.0.0.1:8083') Stock Management
					li.nav-item
						a.nav-link(href='http://127.0.0.1:8088') API Gateway
		main.container(role='main')
			block content
		
		script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js', integrity='sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh', crossorigin='anonymous')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js', integrity='sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ', crossorigin='anonymous')
		script(src='https://code.highcharts.com/highcharts.src.js')
		script(crossorigin='', src='https://unpkg.com/react@16/umd/react.production.min.js')
		script(crossorigin='', src='https://unpkg.com/react-dom@16/umd/react-dom.production.min.js')
		script(crossorigin='', src='https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.25.0/babel.min.js')

		block scripts
