extends template.pug



block content
	h4  #{title}
	br
	ul.list-group
		each stock, i in stocks 
			
			li.list-group-item
				div.row
					div.col-sm-3
						h6= stock.name
					div.col-sm-2
						h6= '$' + stock.price
					div.col-sm-2
						h6= stock.qt + '  units' 	
					div.col-sm-2
							input(type='text',placeholder='Quantity to remove..', id='quantity'+stock._id)
					div.col-sm-3
							a.removeStock.btn.btn-primary.float-right(href='/', data-id= stock._id, data-qt= stock.qt) Remove from stock
											

							
block scripts
	script(type='text/babel', src='')
	script(type='text/javascript', src='')
