extends template.pug



block content
  br
  br
  br
  h4 #{title}
  br
  form(method='POST', action='/products/edit/'+product._id)

    #form-group
      label Nom:
      input.form-control(name='name', type='text', value=product.nom)
    #form-group
      label Categorie:
      input.form-control(name='category', type='text', value=product.categorie)
    #form-group
      label Price:
      input.form-control(name='price', type='text')
        
    br
    input.btn.btn-primary(type='submit', value='Update')
		
block scripts
  script(type='text/babel', src='')
  script(type='text/javascript', src='')
