extends template.pug



block content
	h4  #{title}
	
	br
	div.row
		div.col-sm-10
		div.col-sm-2
			a.btn.btn-success.float-right(href='/products/new') + New Product
	br
	ul.list-group
		each product, i in products 
			
			li.list-group-item
				div.row
					div.col-sm-8
						a(href='/product/'+product._id)= product.name
						h6= '$' + product.price
					div.col-sm-2
						input(type='text',placeholder='Quantity to add..', id='quantity'+product._id)
					div.col-sm-2
						a.col.addStock.btn.btn-primary(href='/', product-id= product._id, product-name= product.name, product-category= product.category, product-price= product.price) Add to stock
						br
						a.col.addSale.btn.btn-info(href='/', product-id= product._id, product-name= product.name, product-category= product.category, product-price= product.price) Add to sale

						
						


block scripts
	script(type='text/babel', src='')
	script(type='text/javascript', src='')
