extends template.pug

block content
  h1 #{title}
  form(method='POST', action='/products/new')

    #form-group
      label Name:
      input.form-control(name='name', type='text')
    #form-group
      label Category:
      input.form-control(name='category', type='text')
    #form-group
      label Price:
      input.form-control(name='price', type='text')
  
    br
    input.btn.btn-primary(type='submit', value='Add')
		
block scripts
  script(type='text/babel', src='')
  script(type='text/javascript', src='')
