extends template.pug



block content
  h1= product.name 
  h5= 'Category: ' +product.category
  h6= 'Price: $' + product.price
  hr 
  a.btn.btn-primary(href='/product/edit/'+product._id) Edit
  | 
  a.btn.btn-danger.DeleteProduct(href='#', data-id= product._id) Delete
