extends template.pug


block content
	h4  #{title}
	br
		
		
	div.row
		div.col-sm-10
		div.col-sm-2
			a.btn.btn-success.float-right(href='http://127.0.0.1:8081') + New Sale
	br
	
	ul.list-group
		each sale, i in sales 
			
			li.list-group-item
				div.row
					div.col-sm-12
						a(href='/sale/'+sale._id)= sale.productName + ' x' + sale.qt + ' - Transaction'
						p <em>Click for more details</em>

block scripts
	script(type='text/babel', src='')
	script(type='text/javascript', src='')
