extends template.pug

block content
  h1 #{title}
  form(method='POST', action='/sales/new')

    #form-group
      label Product ID:
      input.form-control(name='productId', type='text')
    #form-group
      label Number of units (quantity):
      input.form-control(name='qt', type='text')

    br
    input.btn.btn-primary(type='submit', value='Add')
		
block scripts
  script(type='text/babel', src='')
  script(type='text/javascript', src='')
