extends template.pug



block content

  h1= sale.productName
  h6= 'product ID: ' + sale.productId
  br
  h5= 'Number of units: ' +sale.qt
  h5= 'Total amount: ' + '( ' + sale.qt + 'u x $' + sale.price + ' ) = $' +sale.totalAmount
